<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block title %}Base Title{% endblock %}</title>

  <link
        href="https://unpkg.com/bootstrap@5.3.3/dist/css/bootstrap.min.css"
        rel="stylesheet"
        crossorigin="anonymous"
  >
</head>
<body>
<div class="container-fluid my-3 bg-white border-bottom shadow-sm">
  <nav class="nav justify-content-center">
    <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Главная</a>
    <a class="nav-link" href="{% url 'site_app:index' %}">Обучение</a>
    <a class="nav-link" href="{% url 'admin:index' %}">Панель администратора</a>
    <a class="nav-link" href="{% url 'site_app:contact-form' %}">Контакты</a>
  </nav>
</div>

{% block body %}
{% endblock %}

<footer>
    {% block footer %}
      <div class="text-center">
        &copy; 2024
      </div>
    {% endblock %}
</footer>

<script src="https://unpkg.com/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
</body>
</html>
