{% extends 'site_app/base.html' %}

{% block title %}
 Статьи
{% endblock %}

{% block body %}
<h1>Статьи</h1>

<ul class="list-group">
 {% for article in articles %}
     <li class="list-group-item">
         <a href="{% url 'site_app:article-detail' pk=article.pk %}" class="h5">{{ article.name }}</a>
         <p class="text-muted">Автор: {{ article.author.username }}</p>  <!-- Здесь добавляем автора -->
         <ul class="list-unstyled">
             {% for category in article.category.all %}
                  <li class="badge bg-secondary">{{ category.name }}</li>
             {% endfor %}
         </ul>
     </li>
 {% endfor %}
</ul>

{% endblock %}